<!DOCTYPE html>
<html>
<body>
 <!-- <form id="form-checkout" >
   <input type="text" name="cardNumber" id="form-checkout__cardNumber" />
   <input type="text" name="cardExpirationMonth" id="form-checkout__cardExpirationMonth" />
   <input type="text" name="cardExpirationYear" id="form-checkout__cardExpirationYear" />
   <input type="text" name="cardholderName" id="form-checkout__cardholderName"/>
   <input type="email" name="cardholderEmail" id="form-checkout__cardholderEmail"/>
   <input type="text" name="securityCode" id="form-checkout__securityCode" />
   <select name="issuer" id="form-checkout__issuer"></select>
   <select name="identificationType" id="form-checkout__identificationType"></select>
   <input type="text" name="identificationNumber" id="form-checkout__identificationNumber"/>
   <select name="installments" id="form-checkout__installments"></select>
   <button type="submit" id="form-checkout__submit">Pay</button>

   <progress value="0" class="progress-bar">loading...</progress>
 </form> -->

 <script src="https://sdk.mercadopago.com/js/v2"></script>


<!-- <form action="http://localhost:3000/pagopro" method="POST">
    <input type="text" disabled="disabled" name="title" value="Nevera">
    <input type="text" disabled="disabled" name="price" value="1500000">

    <input type="submit" value="Pagar">
</form>
<a href="https://www.mercadopago.com.co/checkout/v1/redirect?pref_id=769119802-d481e0c1-ef8e-441a-a8f1-de9dec30f125" target="_blank">Pagar</a> -->

<script
    src="https://www.mercadopago.com.co/integrations/v1/web-payment-checkout.js"
    data-preference-id='769119802-d481e0c1-ef8e-441a-a8f1-de9dec30f125'>
</script>

<script>
    // Add the SDK credentials
      const mp = new MercadoPago('APP_USR-1be309dd-4b1d-49c0-b21f-00661c5e56d1', {
            locale: 'es-AR'
      });

      console.log(mp)
      
      // Initialize the checkout
      mp.checkout({
        preference: {
            id: '769119802-d481e0c1-ef8e-441a-a8f1-de9dec30f125'
        },
        render: {
          container: '.cho-container', // Indicates where the payment button is going to be rendered
          label: 'Pagar', // Changes the button label (optional)
        }
    });
    </script>

    <div class="cho-container"></div>

</body>
</html>