<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<%- include('header'); %>
</head>

<body>
	<!-- header-section-starts -->
	<%- include('header_bar'); %>
	<!-- header-section-ends -->
	<%- include('banner_top'); %>
	<!-- checkout -->
	<!-- <a href="javascript:;" class="simpleCart_total">Checkout</a> -->
	<div class="cart-items">
		<div class="container">
			<h2>Muchas gracias por su pago</h2>
		</div>
	</div>

	<!-- //checkout -->
	<%- include('footer'); %>
</body>

</html>